<!DOCTYPE html>
<html>
<head>
  <script type="module" src="./chat.js"></script>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <header>
      <h1>
        6.S063 Chat App
      </h1>
    </header>
    <main>
      <div class="aside">
        <p>
          <button v-if="$gf.me" @click="$gf.toggleLogIn">
            <!-- If we have a user ID, we're logged in so show "Log Out" -->
            <!-- Otherwise, show "Log In" -->
            {{ 'Log Out' }}
          </button>
          <button v-else class="loginButton" @click="$gf.toggleLogIn">
            {{ 'Log In' }}
          </button>
        </p>
        <div v-if="$gf.me">
          <form id="requestUsername" @submit.prevent="requestUsername">
            <label>Request Username: <input type="text" name="username" id="username"></label>
            <button>Submit</button>
          </form>
          <div class="imgContainer">
            <img id="request-username-loader" src="img/loader.svg">
          </div>
          <p v-if="showRequestError" class="errorMessage">That username is already taken. Please try something else.</p>
  
          <div>
            <!-- We display names in multiple places, so we made a -->
            <!-- reusable <name></name> component. -->
            <!-- See below for the template. -->
            My Name: <name :actor="$gf.me" :editable="true" :username="getUsernameFromActorId($gf.me)"></name>
            <div class="profilePicContainer">
              <profile :actor="$gf.me" :editable="true"></profile>
            </div>
          </div>
          <div class="tabs">
            <button class="tab active" id="channel" type="button" @click="changeTab('channel')">Channel-based Public Chat</button>
            <button class="tab" id="pm" type="button" @click="changeTab('pm')">Private Messaging</button>
          </div>
          <div class="show-read-receipts">
            <label>
              <input v-model="showReadReceipts" type="checkbox"> Show Read Receipts
            </label>
          </div>
        </div>
      </div>

      <div v-if="$gf.me">  
        <div id="channelInput" v-if="!privateMessaging">
          <label for="channel">
            Channel: 
            <input id="channel" v-model="channel"/> 
          </label>
          <button id="threadsButton" v-if="!viewingThreads" @click="viewThreads">Threads</button>
          <button id="returnButton" v-else @click="viewThreads">Return To Chat</button>
        </div>
        <div v-else>
          <div id="usernameInputContainer">
            <div id="usernameInput">
              <div class="input">
                <label>
                  Recipient 
                  <select name="queryByUsername" id="queryByUsername" v-model="queryByUsername">
                    <option value="username">Username</option>
                    <option value="actorID">Actor ID</option>
                  </select> : 
                </label>
                <form v-if="queryByUsername === 'username'" @submit.prevent="getActorId">
                  <input list="usernames" id="recipientUsername" v-model="recipientUsername"/>
                  <datalist id="usernames">
                    <option v-for="username of Object.values(actorsToUsernames)" :value="username">
                    </option>
                  </datalist>
                  <input type="submit">
                </form>
                <form v-else @submit.prevent="getActorId">
                  <input type="text" id="recipientActorId" v-model="recipientActorId">
                  <input type="submit">
                </form>
                <img id="search-username-loader" src="img/loader.svg">
              </div>
              <button id="threadsButton" v-if="!viewingThreads" @click="viewThreads">Threads</button>
              <button id="returnButton" v-else @click="viewThreads">Return To Chat</button>
            </div>
            <p v-if="showUsernameError" class="errorMessage">No one with that username exists. Please check the spelling or try a different username.</p>
            <p v-if="showActorIdError" class="errorMessage">Please enter an Actor ID with the correct format.</p>
          </div>
        </div>
        <div class="threads-or-convo-container">
          <transition name="thread-title">
            <div v-if="viewingThreads && currentThread" class="thread-title">
              <p>Thread: {{ getThreadContent(currentThread) }}</p>
            </div>
          </transition>
          <div class="threads-container" v-if="viewingThreads && !currentThread">
            <div v-for="thread of allThreads" :key="thread" class="threadsList">
              <button v-if="thread" @click="goToThread(thread)">Thread: {{ getThreadContent(thread) }}</button>
            </div>
          </div>
          <div v-else class="message-list">
            <!-- List all the messages -->
            <div v-for="message of getMessages()" :key="message.id" class="message-container">
              <div v-if="message.actor!=$gf.me" class="message-left">
                <!-- Display and edit form if we're editing a message -->
                <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                  <input v-model="editText">
                  <input type="submit" value="Save"/>
                </form>
  
                <!-- Otherwise, display a bunch of properties from the message -->
                <div v-else class="message">
                  <p>
                    <!-- Published at time -->
                    {{ formatTime(message.published) }}
                  </p>
                  <p class="senderInfo">
                    <profile :actor="message.actor"></profile>
                    <name :actor="message.actor" :username="getUsernameFromActorId(message.actor)"></name>
                  </p>
                  <div class="message-content">
                    <p>{{ message.content }}</p>
                    <div v-if="message.attachment">
                      <div v-if="!imageError(message.attachment.magnet)">
                        <img class="attachment" :src="downloadedImages[message.attachment.magnet]"/>
                      </div>
                      <p v-else>(Error fetching image)</p>
                    </div>
                    <div class="messageButtons">
                      <like :messageid="message.id"></like>
                      <div v-if="!this.viewingThreads">
                        <div v-if="!allThreads.includes(message.id)" class="replyButtonContainer">
                          <button @click="startThread(message.id)" class="replyButton"><img src="img/reply.png"></button>
                          <p class="tooltip">Create Thread From Message</p>
                        </div>
                        <button v-else @click="goToThread(message.id)">View Thread</button>
                      </div>
                    </div>
                  </div>
                  <read-receipt :messageid="message.id" :side="'left'"></read-receipt>
                </div>
              </div>
              <div v-else class="message-right">
                <!-- Display and edit form if we're editing a message -->
                <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                  <input v-model="editText">
                  <input type="submit" value="Save"/>
                </form>
  
                <!-- Otherwise, display a bunch of properties from the message -->
                <div v-else class="message">
                  <p>
                    <!-- Published at time -->
                    {{ formatTime(message.published) }}
                  </p>
                  <p class="senderInfo">                    
                    <name :actor="message.actor" :username="getUsernameFromActorId(message.actor)"></name>
                    <profile :actor="message.actor"></profile>
                  </p>
                  <div class="message-content">
                    <p>{{ message.content }}</p>
                    <div v-if="message.attachment">
                      <div v-if="!imageError(message.attachment.magnet)">
                        <img class="attachment" :src="downloadedImages[message.attachment.magnet]"/>
                      </div>
                      <p v-else>(Error fetching image)</p>
                    </div>
                    <div class="messageButtons">
                      <div v-if="!this.viewingThreads">
                        <div v-if="!allThreads.includes(message.id)" class="replyButtonContainer">
                          <button @click="startThread(message.id)" class="replyButton"><img src="img/reply.png"></button>
                          <p class="tooltip">Create Thread From Message</p>
                        </div>
                        <button v-else @click="goToThread(message.id)">View Thread</button>
                      </div>
                      <like :messageID="message.id"></like>
                      <div class="deleteButtonContainer">
                        <button class="deleteButton" @click="removeMessage(message)">
                          ❌
                        </button>
                        <p class="tooltip">Delete Message</p>
                      </div>
                      <div class="editButtonContainer">
                        <button class="editButton" @click="startEditMessage(message)">
                          <img src="img/edit.png">
                        </button>
                        <p class="tooltip">Edit Message</p>
                      </div>
                    </div>
                  </div>
                  <read-receipt :messageid="message.id" :side="'right'"></read-receipt>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- A form for sending messages -->
        <div v-if="((!viewingThreads) || (viewingThreads && currentThread)) && (!privateMessaging || recipient)">
          <form class="send-message-form" @submit.prevent="sendMessage">
            <input v-model="messageText" placeholder="Type a message..."/>
            <input type="submit" value="Send"/>
          </form>
          <input type="file" accept="image/png, image/jpeg" @change="onImageAttachment"/>
        </div>
      </div>
      <div v-else>
        <p id="loginNotice">** Log in to see messages **</p>
      </div>
    </main>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? `${profile.name} (username: ${username})` : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>
  <template id="like">
    <div class="likeButtonContainer">
      <button v-if="myLikes.length > 0" class="likeButton liked" @click="handleLike"><span>👍</span> ({{ likes.length }})</button>
      <button v-else class="likeButton" @click="handleLike"><span class="grey-thumbs-up">👍</span> ({{ likes.length }})</button>
    </div>
  </template>
  <template id="profile">
    <span v-if="!editing">

      <!-- If we're not editing the profile pic-->
      <!-- Display the profile pic, if it exists -->
      <!-- or placeholder if it doesn't -->

      <img class="profilePic" v-bind:src="profilePic">

      <!-- Also if the profile pic is "editable" add an edit button -->
      <button v-if="editable" @click="editProfile">
        Edit Profile Picture
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the profile-->
    <div v-else>
      <form @submit.prevent="saveProfilePic">
        <img class="profilePic" v-bind:src="profilePic">
        <input type="file" accept="image/png, image/jpeg" @change="onProfileImageAttachment"/>
        <button type="submit">Upload</button>
      </form>
      <button @click="cancelEdit">Cancel</button>
    </div>
  </template>
  <template id="read-receipt">
    <!-- for messages on the RHS -->
    <div v-if="side === 'right'">
      <div v-if="readByOthers()" class="readerContainer">
        <p class="readersList">{{ getReaders() }}</p>
        <p>Read by {{ getNumReads() }}</p>
      </div>
      <div v-else>
        <p>Unread by others</p>
      </div>
    </div>
    <!-- for messages on the LHS -->
    <div v-else>
      <div v-if="readByOthers()" class="readerContainer">
        <p>Read by {{ getNumReads() }}</p>
        <p class="readersList">{{ getReaders() }}</p>
      </div>
      <div v-else>
        <p>Unread by others</p>
      </div>
    </div>
  </template>
</body>
</html>
