:root {
    --darkBlue: #2F3E46;
    --darkGreen: #354F52;
    --mediumGreen: #52796f;
    --green: #84a98c;
    --lightGreen: #cad2c5;
}

/* general styling */

body {
    margin: 0;
    background-color: var(--lightGreen);
}

body * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* main styling */

main {
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
    row-gap: 10px;
}

@media (min-width: 900px) {
    main {
        grid-template-columns: 1fr 3fr;
        column-gap: 0;
        height: 100vh;
    }

    body {
        overflow-y: hidden;
        height: 100vh;
    }

    .aside {
        height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 20px 0;
    }
}

/* content styling */

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    border: 2px solid var(--darkBlue);
    border-top: none;
}

/* header styling */

#loginNotice {
    font-size: 2em;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: var(--darkGreen);
    color: white;
    margin: 0;
    padding: 1em;
}

/* miscellaneous info styling */

.profileContainer .name-component span {
    font-size: 1.5em;
}

.profileContainer .name-component button {
    font-size: initial;
}

.profileContainer {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 3em;
}

.profilePic {
    width: 30px;
}

.profilePicContainer {
    width: 100px;
}

.profilePicContainer .profilePic {
    width: 100px;
}

/* name component styling */
.name-first-row {
    display: flex;
    align-content: center;
}

.name-first-row button.editNameButton {
    padding: 5px;
    margin: 5px;
    border: none;
    background-color: var(--green);
}

.editNameButton img {
    height: 20px;
}

.aside {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
}

.aside * {
    font-size: 1em;
}

.aside button {
    padding: 10px 20px;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}

.aside button.plus-button {
    border-radius: 999px;
    background-color: var(--darkBlue);
    border: none;
    padding: 10px;
}

.plus-button img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside .errorMessage {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.tabHeader {
    color: var(--darkBlue);
    font-size: 2em;
    font-weight: bold;
    margin: 0; 
    padding: 0 10px;
}

button:hover, input[type="submit"] {
    cursor: pointer;
}

#channelInput, #usernameInputContainer, #explore-groups-header {
    font-size: 2em;
    background-color: var(--mediumGreen);
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid var(--darkBlue);
    color: white;
    height: 20%;
}

#channelInput, #usernameInput, #explore-groups-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

label[for='channel'], #usernameInput .input {
    display: flex;
    align-items: center;
    gap: 20px;
}

#threadsButton, #returnButton, #new-group-button, .group-listing-buttons button {
    font-size: 0.7em;
    border: none;
    background-color: var(--darkBlue);
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

.errorMessage {
    color: red;
    font-size: initial;
    font-weight: bold;
}

.successMessage {
    color: var(--darkGreen);
    font-size: initial;
    font-weight: bold;
}

.messageButtons {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.messageButtons button {
    height: 30px;
    white-space: nowrap;
    border: none;
}

.message-left .messageButtons {
    justify-content: flex-start;
}

.message-right .messageButtons {
    justify-content: flex-end;
}

.senderInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.message-left .senderInfo {
    text-align: left;
}

.message-right .senderInfo {
    text-align: right;
}

/* loader styling */

#search-username-loader {
    width: 40px;
}

#request-username-loader {
    width: 100%;
}

#search-username-loader {
    display: none;
}

#search-username-loader.loading {
    display: initial;
}

.imgContainer {
    width: 40px;
    margin: 10px auto;
}

/* tab styling */

.tabs .tabHeader {
    margin-top: 1em;
}

.groupButtonControls:has(.active) {
    background-color: var(--mediumGreen);
}

.groupButtonControls {
    display: flex;
}

.groupButtonControls button {
    background-color: var(--green);
    color: white;
    border: none;
    font-size: 1.3em;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 200ms;
    margin: 0;
    width: 20%;
}

.groupButtonControls button.tab {
    width: 80%;
}

/* whole tab highlights when hovering over tab */
.groupButtonControls:has(button:hover) button {
    background-color: var(--mediumGreen);
}

/* whole tab highlights when hovering over tab */
.groupButtonControls:has(button.leaveGroupButton:hover) button.leaveGroupButton {
    background-color: var(--darkGreen);
}

/* message, threads, groups list styling */

#explore-groups {
    height: 80%;
}

.threadsList button {
    border: none;
}

.threadsList button:hover {
    background-color: var(--mediumGreen);
}

.groups-list, .threadsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}

.groups-list li, .threadsList button {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--green);
    color: white;
    border-bottom: 2px solid var(--darkBlue);
    font-size: 2em;
}

.group-listing-buttons {
    display: flex;
    gap: 10px;
}

.threads-or-convo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    margin: 0;
}

.threads-or-convo-container:has(.threads-container) {
    height: 80%;
}

.threads-or-convo-container:not(:has(.threads-container)) {
    height: 70%;
}

.threads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.send-form-container {
    height: 10%;
}

.send-form-container :first-child {
    height: 30%;
}

.send-message-form {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
}

.send-message-form :nth-child(1) {
    box-sizing: border-box;
    width: 85%;
    height: 100%;
}

.send-message-form :nth-child(2) {
    box-sizing: border-box;
    width: 15%;
    height: 100%;
}

.message-list {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    overflow-y: auto;
    background-color: var(--lightGreen);
    border-radius: 8px;
}

.message-container {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.message-container:has(.message-left) {
    justify-content: flex-start;
}

.message-container:has(.message-right) {
    justify-content: flex-end;
}

.message-content {
    border: 2px solid var(--darkBlue);
    border-radius: 8px;
    padding: 5px 10px;
    max-width: 300px;
    word-wrap: break-word;
}

.message-content .attachment {
    max-width: 100%;
    width: 100px;
}

/* different colors */

.message-right .message-content {
    background-color: var(--darkGreen);
    color: white;
}

.message-left .message-content {
    background-color: var(--green);
}

.message-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
}

.message-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 50%;
}

.message-left .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-right .message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-list p {
    margin: 5px;
}

.grey-thumbs-up {
    filter: grayscale(100%);
}

.messageButtons img {
    height: 20px;
}

.replyButtonContainer, .deleteButtonContainer, .editButtonContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.readerContainer {
    display: flex;
    align-items: center;
}

.thread-title {
    background-color: var(--green);
    border-bottom: 2px solid var(--darkBlue);
    width: 100%;
    text-align: left;
}

.thread-title p {
    padding: 5px 20px;
}

#queryByUsername {
    background-color: var(--green);
    font-size: inherit;
}

.editMessageForm {
    display: flex;
    align-items: center;
}

/* dialog styling */

dialog {
    border: 2px solid var(--darkBlue);
    background-color: var(--lightGreen);
    padding: 0;
}

.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mediumGreen);
    color: white;
    font-size: 1.5em;
    margin: 0;
    border-bottom: 2px solid var(--darkBlue);
}

.dialogHeader p {
    padding: 20px;
    margin: 0;
}

.dialogHeader button {
    padding: 20px;
    font-size: 1.3em;
    background-color: var(--mediumGreen);
    border: none;
    margin: 0;
    border-radius: 0;
}

.dialogHeader button:hover {
    background-color: var(--darkGreen);
}

.dialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
}

.dialogContent label {
    font-size: 1.5em;
    color: var(--darkBlue);
}

.dialogContent button {
    background-color: var(--darkBlue);
    color: white;
    font-size: 1.3em;
    border: none;
    padding: 10px 20px;
}


/* animations */

.groupButtonControls button:hover {
    background-color: var(--mediumGreen);
}

.tabs button {
    border-radius: 0;
    border: none;
}

input.error, label.error {
    animation: shake 0.2s;
}

/* Define the shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(8px); }
    50% { transform: translateX(-8px); }
    75% { transform: translateX(8px); }
    100% { transform: translateX(0); }
}

@keyframes like {
    0% { transform: translateY(0); }
    25% { transform: translateY(-3px); }
    50% { transform: translateY(-5px); }
    75% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

.likeButton.liked  {
    animation: like cubic-bezier(.07,.62,.93,.62) 0.3s;
    background-color: rgb(253, 253, 225);
}

p.tooltip {
    position: absolute;
    top: 30px;
	transform: scale(0);
    background-color: rgb(140, 140, 140);
    padding: 2px;
    font-size: 0.8em;
    border-radius: 4px;
    margin: 0;
    margin-top: 5px;
    white-space: nowrap;
}

/* set transform origins */

.replyButtonContainer p.tooltip {
    transform-origin: top left;
}

.deleteButtonContainer p.tooltip {
    transform-origin: top right;
    right: 0;
}

.editButtonContainer p.tooltip {
    transform-origin: top right;
    right: 0;
}

.message-left .readersList {
    transform-origin: left;
}

.message-right .readersList {
    transform-origin: right;
}

.replyButton:hover + .tooltip, .deleteButton:hover + .tooltip, .editButton:hover + .tooltip {
    transition: 200ms;
    height: inherit;
    transform: scale(100%);
}

/* reader list */

.readersList {
    transform: scale(0);
    background-color: rgb(140, 140, 140);
    color: white;
    padding: 2px;
    font-size: 0.8em;
    border-radius: 4px;
}

.readerContainer:hover .readersList {
    transition: 200ms;
    height: inherit;
    transform: scale(100%);
}

.loginButton {
    transition: 300ms;
}

.thread-title-enter-from, .thread-title-leave-to {
    transform: translateY(-100%);
    z-index: -1;
}

.thread-title-enter-active, .thread-title-leave-active {
    transition: transform 400ms ease;
    z-index: -1;
}