:root {
    --darkBlue: #2F3E46;
    --darkGreen: #354F52;
    --mediumGreen: #52796f;
    --green: #84a98c;
    --lightGreen: #cad2c5;
}

/* general styling */

body {
    margin: 0;
    margin-bottom: 3em;
    background-color: var(--lightGreen);
}

body * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* main styling */

main {
    display: grid;
    grid-template-rows: auto;
    padding: 40px 10px;
    box-sizing: border-box;
    row-gap: 10px;
}

@media (min-width: 900px) {
    main {
        grid-template-columns: 1fr 3fr;
        column-gap: 40px;
    }
}

/* header styling */

#loginNotice {
    font-size: 2em;
}

h1 {
    text-align: center;
    background-color: var(--darkGreen);
    color: white;
    margin: 0;
    padding: 1em;
}

/* miscellaneous info styling */

.profilePic {
    width: 30px;
}

.profilePicContainer {
    width: 30%;
    margin: 20px auto;
}

.profilePicContainer .profilePic {
    width: 100%;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside * {
    font-size: 1em;
}

.aside button {
    padding: 10px 20px;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}

.aside .errorMessage {
    width: fit-content;
    margin: auto;
}

button:hover, input[type="submit"] {
    cursor: pointer;
}

#channelInput, #usernameInputContainer {
    font-size: 2em;
    background-color: var(--green);
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border: 2px solid var(--darkBlue);
    border-bottom: none;
}

#channelInput, #usernameInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

label[for='channel'], #usernameInput .input {
    display: flex;
    align-items: center;
    gap: 20px;
}

#threadsButton, #returnButton {
    font-size: 0.7em;
    border: none;
    background-color: var(--darkBlue);
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

.threadsList {
    width: 100%;
}

.threadsList button {
    width: 100%;
    font-size: 1em;
    text-align: start;
}

.errorMessage {
    color: red;
    font-size: initial;
}

.messageButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.messageButtons button {
    height: 30px;
}

/* loader styling */

#search-username-loader {
    width: 40px;
}

#request-username-loader {
    width: 100%;
}

#request-username-loader, #search-username-loader {
    display: none;
}

#request-username-loader.loading, #search-username-loader.loading {
    display: initial;
}

.imgContainer {
    width: 40px;
    margin: 10px auto;
}

/* tab styling */

.tabs {
    margin: 1em auto;
}

button.tab {
    background-color: var(--mediumGreen);
    color: white;
    width: 100%;
    border: none;
    font-size: 1.3em;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 200ms;
}

.tab.active {
    background-color: var(--darkGreen);
    outline: 3px solid white;
}

/* message list styling */

.threads-or-convo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    height: 60vh;
    border: 2px solid var(--darkBlue);
    box-sizing: border-box;
}

.threads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.send-message-form {
    width: 100%;
    height: 50px;
    border: 2px solid var(--darkBlue);
    border-top: none;
    box-sizing: border-box;
}

.send-message-form input {
    height: 100%;
}

.send-message-form :nth-child(1) {
    box-sizing: border-box;
    width: 85%;
}

.send-message-form :nth-child(2) {
    box-sizing: border-box;
    width: 15%;
}

.message-list {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    overflow-y: auto;
    background-color: var(--lightGreen);
    border-radius: 8px;
}

.message-container {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.message-container:has(.message-left) {
    justify-content: flex-start;
}

.message-container:has(.message-right) {
    justify-content: flex-end;
}

.message-content {
    border: 2px solid var(--darkBlue);
    border-radius: 8px;
    padding: 5px 10px;
    max-width: 300px;
    word-wrap: break-word;
}

.message-content .attachment {
    max-width: 100%;
}

/* different colors */

.message-right .message-content {
    background-color: var(--darkGreen);
    color: white;
}

.message-left .message-content {
    background-color: var(--green);
}

.message-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
}

.message-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 50%;
}

.message-left .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-right .message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-list p {
    margin: 5px;
}

.grey-thumbs-up {
    filter: grayscale(100%);
}

.likeButton.liked {
    background-color: rgb(253, 253, 225);
}

.replyButton img {
    width: 20px;
}

.replyButtonContainer {
    display: flex;
}

.thread-title {
    background-color: var(--green);
    border-bottom: 2px solid var(--darkBlue);
    width: 100%;
    text-align: left;
}

.thread-title p {
    padding: 5px 20px;
}


/* animations */

.tabs button:hover {
    background-color: var(--darkGreen);
    outline: 3px solid white;
}

input.error, label.error {
    animation: shake 0.2s;
}

/* Define the shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(8px); }
    50% { transform: translateX(-8px); }
    75% { transform: translateX(8px); }
    100% { transform: translateX(0); }
}

@keyframes like {
    0% { transform: translateY(0); }
    25% { transform: translateY(-3px); }
    50% { transform: translateY(-5px); }
    75% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

.likeButton.liked  {
    animation: like cubic-bezier(.07,.62,.93,.62) 0.3s;
}

.replyHelp {
	transform: scale(0);
    color: white;
    background-color: rgb(81, 81, 81);
    padding: 2px;
    font-size: 0.8em;
    border-radius: 4px;
}

.message-left .replyHelp {
    transform-origin: left;
}

.message-right .replyHelp {
    transform-origin: right;
}

.replyButton:hover + .replyHelp, .replyButtonContainer:has(.replyButton:hover) .replyHelp  {
    transition: 200ms;
    height: inherit;
    transform: scale(100%);
}

.send-message-form:has(input[value="Send"]:active) input {
    background-color: var(--lightGreen);
}

.loginButton {
    transition: 300ms;
}

.loginButton:hover {
    transform: scale(1.2);
}

.thread-title-enter-from, .thread-title-leave-to {
    transform: translateY(-100%);
    z-index: -1;
}

.thread-title-enter-active, .thread-title-leave-active {
    transition: transform 400ms ease;
    z-index: -1;
}